/* auth.css */

.layout-hd,.layout-ft {text-align:center;}
.layout-hd h1 {font-size:150%;font-weight:bold;margin:0;padding:5px 0;}

.layout-bd .layout-module-col {padding:0 5px;}
.layout-bd .layout-module {margin:5px 0;border-radius:10px;}
.layout-bd .layout-m-hd {background-color:#008e8f;color:white;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom:1px solid #008e8f;}
.layout-bd .layout-m-ft {text-align:right;background-color:#008e8f;color:white;border-top:1px solid #008e8f;}
.layout-bd .layout-m-ft,
.layout-bd .layout-collapsed-vert .layout-m-hd {border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.layout-bd .layout-collapsed-vert .layout-m-hd {border-bottom:0;}

.layout-bd .layout-m-hd,
.layout-bd .layout-m-bd,
.layout-bd .layout-m-ft {padding:5px;}

.layout-ft {background-color:#008e8f;}

.layout-bd .layout-collapsed-vert .layout-vert-expand-nub {display:inline;}

.layout-bd .layout-collapsed-vert .layout-vert-expand-nub {display:inline;}
.layout-bd .layout-collapsed-horiz .layout-left-expand-nub,
.layout-bd .layout-collapsed-horiz .layout-right-expand-nub {cursor:pointer;background-color:#008e8f;border-radius:10px;}
.layout-bd .layout-collapsed-horiz .layout-horiz-expand-icon {padding:20px 2px 2px 2px;}

.layout-bd table { border: none; }
.title { font-weight: bold; font-size: 120%; }

#topbar { height: 100px; background-color: #008e8f; background-image: url(../images/topbar-image.png); background-repeat: no-repeat; background-position: center left; }
.layout-ft .page-footer { background-color: #008e8f; color: white; font-weight: bold; text-align: left; padding: 3px; }

.login-frame { border: none; width: 100%; }
td.field { font-weight: bold; color: #008e8f; width: 70px; }
td.input input { border: 1px solid gray; width: 100%; }

td { border: none; }

.layout-module { margin-top: 120px !important; }
.version { float: left; color: #82b8d3; font-weight: bold; }
