/*.password-diff  .weak{
	height:14px;
	font-size:14px;
	line-height:14px;
	text-align: center;
	background:#383838; #383838
  -webkit-touch-callout: none; iOS Safari
  -webkit-user-select: none;   Chrome/Safari/Opera
  -khtml-user-select: none;    Konqueror
  -moz-user-select: none;      Firefox
  -ms-user-select: none;       Internet Explorer/Edge
  user-select: none;           Non-prefixed version, currently
	
}
.password-diff.weak .weak{
	background: #BF1313; #666666
}
.password-diff .medium{
	height:14px;
	font-size:14px;
	line-height:14px;
	text-align: center;
	background: #A3A3A3; 
  -webkit-touch-callout: none; iOS Safari
  -webkit-user-select: none;   Chrome/Safari/Opera
  -khtml-user-select: none;    Konqueror
  -moz-user-select: none;      Firefox
  -ms-user-select: none;       Internet Explorer/Edge
  user-select: none;           Non-prefixed version, currently
	
}
.password-diff.medium .medium{
	background: #E69E0E;
}
.password-diff .strong{
	height:14px;
	font-size:14px;
	line-height:14px;
	text-align: center;
	background: #666666; 
  -webkit-touch-callout: none; iOS Safari
  -webkit-user-select: none;   Chrome/Safari/Opera
  -khtml-user-select: none;    Konqueror
  -moz-user-select: none;      Firefox
  -ms-user-select: none;       Internet Explorer/Edge
  user-select: none;           Non-prefixed version, currently
	
}
.password-diff.strong .strong{
	background: #118811; 
} */